extends template

block css
    //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
    link(rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome-free-5.10.1-web/css/all.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/style.css")

block title
    title Main

block content
    include ../includes/mixins
    .hidden
        //include ../../../build/../../assets/i/svg/inline/sprite.svg

    include ../blocks/header
    include ../blocks/main-slider
    include ../blocks/offers
    include ../blocks/member
    include ../blocks/directions
    include ../blocks/idea
    include ../blocks/partners
    include ../blocks/footer

    include ../includes/scripts/ie-scripts

block scripts
    script(src="../../assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
    script(src="../../assets/libs/slick/slick/slick.min.js")
