doctype html
html(lang="ru_RU")
    head
        meta(name="viewport"
        content="width=device-width,initial-scale=1.0")

        meta(charset="utf-8")

        block css
            //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
            link(rel="stylesheet" type="text/css" href="../../assets/css/style.min.css")


        //- block yandex-api

        block title

    body
        block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        block scripts
        script(src="../../assets/js/main.js")
