.advantage-content
	section.advantage__item.dark
		h2.section__title In raport cu instructiunile de finantare
		.advantage__block
				.advantage__img
					picture
						source(type="image/webp" srcset="../../assets/i/advantages/1.webp")
						img(src="../../assets/i/advantages/1.jpg" alt="")
				.advantage__text
					ul
						li Monitorizarea finanțărilor pentru afacerea ta
						li Consultanță asupra finanțărilor disponibile
						li Elaborarea planului de afaceri și pregătirea setului de acte necesare
						li Asistență financiară, contabilă și juridică în accesarea finanțărilor

	section.advantage__item.reverse
			h2.section__title In raport cu piata de export
			.advantage__block
				.advantage__img
					picture
						source(type="image/webp" srcset="../../assets/i/advantages/2.webp")
						img(src="../../assets/i/advantages/2.jpg" alt="")
				.advantage__text
					ul
						li Informație despre piețile de export, specificul fiecărei piețe
						li Informație despre produsele cerute la export, condiții de calitate - cantitate - ambalaj
						li Informație despre raportul dintre prețul - perioada de vînzarea produselor la export
						li Informație despre produsele cu valoare adăugată înaltă la export
						li Consultanță și asistență în procedurile de import-export


	section.advantage__item.dark
		h2.section__title In raport cu organele R.Moldova
		.advantage__block
			.advantage__img
				picture
					source(type="image/webp" srcset="../../assets/i/advantages/3.webp")
					img(src="../../assets/i/advantages/3.jpg" alt="")
			.advantage__text
				ul
					li Consultanță și asistență în depășirea barierelor din instituțiile de stat
					li Asistență financiară, contabilă și juridică în raport cu organele statului
					li Cursuri de instruire și certificate necesare (certificat de membru, certificate de calificare profesională)
					li Crearea și menținerea unui mediu de afaceri fovorabil membrilo asociației

	section.advantage__item.reverse
		h2.section__title In raport cu mediul de afaceri
		.advantage__block
			.advantage__img
				picture
					source(type="image/webp" srcset="../../assets/i/advantages/4.webp")
					img(src="../../assets/i/advantages/4.jpg" alt="")
			.advantage__text
				ul
					li Consultanță și asistență în inițierea și dezvoltarea afacerii
					li Asistență financiară, contabilă și juridică
					li Soluții originale pentru dezvoltarea afacerii
					li Idei de afaceri la cheie
					li Posibilitatea de a dezvolta ideea de afacere într-un parteneriat de succes
