section.benefice
	.benefice__content
		p Fii Membru al <span class="accent"> AO Centrul de Informare și Documentare a Producătorilor </span> și beneficiază de AVANTAJE
		a(href="#").btn Beneficiaza de avantaje
