section.section.directions
	header.section__header
		h2.section__title Directiile de afaceri admise in cadru
		h4.section__subtitle A.O. Centrul de Informare și Documentare a Producătorilor

	.container
		.directions__content
			.directions__item(style="background-image: url('../../assets/i/directions/1.jpg')")
				.directions__center
					h4 Agricultura
					picture
						source(type="image/webp" srcset="../../assets/i/directions/1.webp")
						img(src="../../assets/i/directions/1.png" alt="")

			.directions__item(style="background-image: url('../../assets/i/directions/2.jpg')")
				.directions__center
					h4 Zootehnie
					picture
						source(type="image/webp" srcset="../../assets/i/directions/2.webp")
						img(src="../../assets/i/directions/2.png" alt="")
			.directions__item(style="background-image: url('../../assets/i/directions/3.jpg')")
				.directions__center
					h4 Producere
					picture
						source(type="image/webp" srcset="../../assets/i/directions/3.webp")
						img(src="../../assets/i/directions/3.png" alt="")
			.directions__item(style="background-image: url('../../assets/i/directions/4.jpg')")
				.directions__center
					h4 Prestari servicii
					picture
						source(type="image/webp" srcset="../../assets/i/directions/4.webp")
						img(src="../../assets/i/directions/4.png" alt="")
			.directions__item(style="background-image: url('../../assets/i/directions/5.jpg')")
				.directions__center
					h4 Turism
					picture
						source(type="image/webp" srcset="../../assets/i/directions/5.webp")
						img(src="../../assets/i/directions/5.png" alt="")

		a.btn.arrow(href="#") Domenii de activitate admise →

