footer.footer(style="background-image: url('../../assets/i/footer-bg.jpg')")
    .container
        .footer-top
            .footer-contacts
                h2 Contacte
                ul.footer-list.address
                    li.address__item
                        i.fas.fa-phone
                        a(href="tel:+37368365000")  +(373) 68365000

                    li.address__item
                        i.fas.fa-envelope
                        a(href="mailto:prodinfo.md@gmail.com") prodinfo.md@gmail.com

                    li.address__item
                        i.fas.fa-map-marker-alt
                        a(href="#")  Chifinau, bd. Mircea cel BatrTn 8/1

            .footer-form
                .form-flex
                    .form-half
                        input(type="text" name="field-name" required="required" placeholder="Numele/Prenumele*")
                    .form-half
                        input(type="text" name="field-email" required="required" placeholder="Email*")
                .form-full
                    textarea Mesajul Dvs.

                input.btn(type="submit" value="Trimite")

        .footer-bottom
            .map
                img(src="../../assets/i/map.jpg")
