header.main-header
	.main-header-top
		.main-header-top__wrap.address
			.main-header-top__item.address__item
				i.fas.fa-phone
				a(href="tel:+37368365000")  +(373) 68365000

			.main-header-top__item.address__item
				i.fas.fa-envelope
				a(href="mailto:prodinfo.md@gmail.com") prodinfo.md@gmail.com

			.main-header-top__item.address__item
				i.fas.fa-map-marker-alt
				a(href="#")  Chifinau, bd. Mircea cel BatrTn 8/1

	.main-header-bottom
		.container
			.main-header-bottom__wrap
				a(href="index.html").logo
					picture
						source(type="image/webp" srcset="../../assets/i/logo.webp")
						img(src="../../assets/i/logo.png" alt="")

				ul.main-menu#js-main-menu
					li.current-menu-item
						a(href="index.html#js-offers") Despre noi
					li
						a(href="advantage.html") Avantajele membrilor
					li
						a(href="our-members.html") Membrii
					li
						a(href="news.html") Stiri
					li
						a(href="contacts.html") Contacte
					li
						a(href="single-news.html") Blog


				#js-sandwitch.sandwitch
					.sandwitch__line.sandwitch__line--top
					.sandwitch__line.sandwitch__line--middle
					.sandwitch__line.sandwitch__line--bottom

				.flags-styled
					span.flag.wpglobus-current-language
						img(src="../../assets/i/ru.png")
					span.flag
						img(src="../../assets/i/us.png")
					span.flag
						img(src="../../assets/i/ro.png")

