.idea
	#js-idea-slider.idea-slider
		.idea-slider__item(style="background-image: url('../../assets/i/idea/1.jpg')")
		.idea-slider__item(style="background-image: url('../../assets/i/idea/2.jpg')")
		.idea-slider__item(style="background-image: url('../../assets/i/idea/3.jpg')")

	.idea__content
			h2 Idei de afaceri la cheie
			p Cele mai profitabile și accesibile idei pentru afacerea Dvs. 65% Finanțare nerambursabilă | Venit de la 50.000€/an
			a(href="#").btn.large Detalii
