.main-slider__wrap
	.main-slider__content
		h2 Devino membrul al
		h4 А.О. Centrul de Informare si Documentare a Producatorilor
		p si beneficiaza la maxim de toate <a href="#">AVANTAJELE</a>

	.main-slider-arrows
		.slider-arrow.slider-arrow--left
			+icon('left-arrow', 'left-arrow')
		.slider-arrow.slider-arrow--right
			+icon('right-arrow', 'right-arrow')

	.main-slider#js-main-slider
		.main-slider__item(style="background-image: url('../../assets/i/main-slider/1.jpg')")
		.main-slider__item(style="background-image: url('../../assets/i/main-slider/2.jpg')")
		.main-slider__item(style="background-image: url('../../assets/i/main-slider/3.jpg')")
		.main-slider__item(style="background-image: url('../../assets/i/main-slider/4.jpg')")
