section.section.member.dark(style="background-image: url('../../assets/i/members/members_bg.jpg')")
	header.section__header
		h2.section__title Cine poate deveni membrul al
		h4.section__subtitle A.O. Centrul de Informare și Documentare a Producătorilor?

	.container
		.member__content
			.member__item
				picture
					source(type="image/webp" srcset="../../assets/i/members/1.webp")
					img(src="../../assets/i/members/1.png" alt="")
				p.member__text Tineri cu vârsta de la 18 pâna la 35 ani care vor să inițieze sau să dezvolte o afacere

			.member__item
				picture
					source(type="image/webp" srcset="../../assets/i/members/2.webp")
					img(src="../../assets/i/members/2.png" alt="")
				p.member__text Orice persoană care își dorește o afacere de succes

			.member__item
				picture
					source(type="image/webp" srcset="../../assets/i/members/3.webp")
					img(src="../../assets/i/members/3.png" alt="")
				p.member__text Femei care doresc să inițieze sau să dezvolte o afacere

			.member__item
				picture
					source(type="image/webp" srcset="../../assets/i/members/4.webp")
					img(src="../../assets/i/members/4.png" alt="")
				p.member__text Orice producător sau prestator de servicii care are înregistrată o formă organizatorico-juridică

		a.btn.arrow(href="#") Avantajele membrilor →
