section.section.offers#js-offers
	header.section__header
		h2.section__title Ce oferim noi?
		h4.section__subtitle AO Centrul de Informare și Documentare a Producătorilor
		p.section__text Asociație non-profit, care vine să unească forțele tuturor producătorilor din Moldova, creând posibilități de:

	.container
		.offers__content
			.offers__item
				picture
					source(type="image/webp" srcset="../../assets/i/offers/1.webp")
					img(src="../../assets/i/offers/1.png" alt="")

				.offers__text
					h3 Dezvoltare
					p Dezvoltare a afacerilor prin accesarea de finantari nerambursabile

			.offers__item
				picture
					source(type="image/webp" srcset="../../assets/i/offers/2.webp")
					img(src="../../assets/i/offers/2.png" alt="")

				.offers__text
					h3 Promovare
					p Promovare a produselor membriLor La export

			.offers__item
				picture
					source(type="image/webp" srcset="../../assets/i/offers/3.webp")
					img(src="../../assets/i/offers/3.png" alt="")

				.offers__text
					h3 Modernizare
					p Implementarea tehnologiilor noi in procesul de producere pentru a minimiza costurile

			.offers__item
				picture
					source(type="image/webp" srcset="../../assets/i/offers/4.webp")
					img(src="../../assets/i/offers/4.png" alt="")

				.offers__text
					h3 Crestere
					p Cresterea profitului prin ridicarea calitatii produselor. micsorarea costurilor si diversificarea pietei de desfacere.

			.offers__item
				picture
					source(type="image/webp" srcset="../../assets/i/offers/5.webp")
					img(src="../../assets/i/offers/5.png" alt="")

				.offers__text
					h3 Implimentare
					p Suportul si implimentarea ideilor de afaceri la cheie

