section.our-members-content
	.our-members__item
		.our-members__img
			picture
				source(type="image/webp" srcset="../../assets/i/partners/1.webp")
				img(src="../../assets/i/partners/1.jgp" alt="")
		ul.our-members__data
			li Telefon: <a href="tel:069898123">069898123</a>
			li E-Mail: <a href="mailto:ozonteh@gmail.com">ozonteh@gmail.com</a>
			li Site: <a href="http://www.tehnicaagricola.md">www.tehnicaagricola.md</a>
	.our-members__item
		.our-members__img
			picture
				source(type="image/webp" srcset="../../assets/i/partners/2.webp")
				img(src="../../assets/i/partners/2.jgp" alt="")
		ul.our-members__data
			li Telefon: <a href="tel:022926162">022 926 162</a>
			li E-Mail: <a href="mailto:expert.egc@gmail.com">expert.egc@gmail.com</a>
			li Site: <a href="http://www.egc.md"> www.egc.md</a>
	.our-members__item
		.our-members__img
			picture
				source(type="image/webp" srcset="../../assets/i/partners/3.webp")
				img(src="../../assets/i/partners/3.jgp" alt="")
		ul.our-members__data
			li Telefon: <a href="tel:079966599">079966599</a>
			li E-Mail: <a href="mailto:euconsult.md@gmail.com">euconsult.md@gmail.com</a>
			li Site: <a href="http://www.euconsult.md">www.euconsult.md</a>
