.partners
	.container
		h2 Partenerii nostrii:

		.partners-slider-wrap
			.slider-arrow.slider-arrow--left
				img(src="../../assets/i/svg/left-arrow.svg")
			.slider-arrow.slider-arrow--right
				img(src="../../assets/i/svg/right-arrow.svg")

			#js-partners-slider.partners-slider
				.partners-slider__item
					picture
						source(type="image/webp" srcset="../../assets/i/partners/1.webp")
						img(src="../../assets/i/partners/1.jgp" alt="")
				.partners-slider__item
					picture
						source(type="image/webp" srcset="../../assets/i/partners/2.webp")
						img(src="../../assets/i/partners/2.jgp" alt="")
				.partners-slider__item
					picture
						source(type="image/webp" srcset="../../assets/i/partners/3.webp")
						img(src="../../assets/i/partners/3.jgp" alt="")
				.partners-slider__item
					picture
						source(type="image/webp" srcset="../../assets/i/partners/1.webp")
						img(src="../../assets/i/partners/1.jgp" alt="")

